---
import Brief from "../components/Brief.astro";
import Experience from "../components/Experience.astro";
import Posts from "../components/Posts.astro";
import Proyects from "../components/Proyects.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Isahir">
  <div class="flex flex-col gap-16">
    <Brief />
    <Experience />
    <Proyects />
    <Posts />
  </div>
</Layout>
