---
const { text, icon } = Astro.props;
---

<div
  class="px-2 py-1 border-solid border-2 text-sm border-gray-300 dark:border-gray-600 rounded-md dark:text-gray-300 flex items-center gap-1"
>
  {icon && <img src={icon} alt={text} class="w-4 h-4" />}
  {text}
</div>
