---

---

<!-- Brief -->
<section class="flex flex-col mt-20 max-w-[600px] dark:text-white">
  <!-- Profile Picture and Company -->
  <div class="flex items-center gap-4">
    <img src="https://avatars.githubusercontent.com/u/56800881?v=4" class="rounded-full h-[90px]" />
    <div class="flex flex-col gap-2">
      <p class="text-xl">
        Working At
        <a target="_blank" rel="noreferrer" href="https://www.linkedin.com/company/apex-systems/posts/?feedView=all"
          class="inline-flex animate-text-gradient bg-gradient-to-r from-[#b2a8fd] via-[#8678f9] to-[#c7d2fe] bg-[200%_auto] bg-clip-text text-xl text-transparent">
          Apex Systems
        </a>
      </p> 
    </div>
  </div>
  <!-- Name and Description -->
  <div class="flex flex-col gap-4 mt-4">
    <h1 class="text-5xl font-bold">Isahir Zavala</h1>
    <p class="text-balance text-lg">
      +3 años de experiencia en desarrollo de software. Enfocado en el area del backend
      utilizando de las mejores practicas para el desarrollo de <span class="bg-[#8678f9] bg-clip-text text-transparent">software de calidad, seguro y mantenible.</span>
      Priorizando las reglas de negocio y la obtencion de resultados.
    </p>
  </div>

    <!-- Social Media -->
     <div class="flex mt-4 gap-4">
        <a target="_blank" href="https://linkedin.com/in/isahir" class='inline-flex h-full cursor-pointer items-center justify-center rounded-full border border-gray-800 bg-[linear-gradient(110deg,#000,45%,#4D4B4B,55%,#000)] bg-[length:250%_100%] px-3 py-1 text-sm font-medium text-gray-300'>
            LinkedIn
        </a>
        <a target="_blank" href="https://github.com/isahir0711" class='inline-flex h-full cursor-pointer items-center justify-center rounded-full border border-gray-800 bg-[linear-gradient(110deg,#000,45%,#4D4B4B,55%,#000)] bg-[length:250%_100%] px-3 py-1 text-sm font-medium text-gray-300'>
            Github
        </a>
     </div>
</section>

