<nav class="flex gap-4 sticky top-0 justify-center p-2">
  <a class="hover:text-[#8678f9] transition-colors" href="/#brief">Inicio</a>
  <a class="hover:text-[#8678f9] transition-colors" href="/#experience"
    >Experiencia</a
  >
  <a class="hover:text-[#8678f9] transition-colors" href="/#proyects"
    >Proyectos</a
  >
  <a class="hover:text-[#8678f9] transition-colors" href="/blog">Blog</a>
</nav>
