---
    import download from '../assets/download.svg';
---

<section id="proyects" class="mt-20 ">
<h2 class="text-3xl font-semibold">Proyectos</h2>
    <section class="mt-6">
        <article class="grid grid-cols-1 gap-12 items-center md:grid-cols-2">
            <div class="flex items-center justify-center overflow-hidden rounded-xl">
                <img class="aspect-video object-cover hover:scale-125 transition-transform duration-300 ease-in-out " src="src/assets/794shots_so.png" alt="">
            </div>

            <div class="flex flex-col gap-4">
                <h2 class="font-semibold text-2xl">TraceItFy</h2>
                <p class="text-balance">Apliacion movil para la creacion de dibujos, compartir estos mismos, los usuarios pueden ver y likear los dibujos de los demas asi como seguirlos para poder ver sus creaciones recientes en su feed.</p>
                <div class="flex">
                    <a class="flex gap-3 px-2 py-3 bg-[#ddddddb4] hover:bg-[#cfcfcf] transition-colors rounded-2xl" href="">
                        <img src={download.src}  alt="">
                        Descargar
                    </a>
                </div>
            </div>
        </article>
    </section>
</section>
