<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Isahir Zavala</title>
	</head>
	<body id="brief" class="max-w-[950px] px-6 mx-auto mb-12">
		<slot/>
	</body>

	
</html>
<style>
	html{
		scroll-behavior: smooth;
	}
</style>
