<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/code.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Isahir Zavala</title>
        <meta name="description" content="Isahir Zavala Desarrolador de Software con +3 años de experiencia" />
        <meta property="og:title" content="Isahir Zavala Desarrolador de Software con +3 años de experiencia" />
        <meta property="og:description" content="Aqui encontraras mi experiencia profesional y proyectos personales" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://isahir.com" />
	</head>
    <body id="brief" class="max-w-[950px] px-6 mx-auto pb-12 dark:bg-slate-950">
        <div class="absolute bottom-0 left-0 right-0 -z-10 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)]">
        </div>
        <slot/>
    </body>
</html>
<style>
    html{
        scroll-behavior: smooth;
    }
</style>