<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/code.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Isahir Zavala</title>
        <meta name="description" content="Isahir Zavala Desarrolador de Software con +3 años de experiencia" />
        <meta property="og:title" content="Isahir Zavala Desarrolador de Software con +3 años de experiencia" />
        <meta property="og:description" content="Aqui encontraras mi experiencia profesional y proyectos personales" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://isahir.com" />
	</head>
    <body id="brief" class="max-w-[950px] px-3 mx-auto pb-12 dark:bg-slate-900">
        <slot/>
    </body>
</html>
<style>
    html{
        scroll-behavior: smooth;
    }
</style>